.contact__cont{
    background: linear-gradient(black,black,rgb(51, 51, 51),black,black);
    padding:60px;
    min-width: 100%;
    border-radius: 0px;
    justify-content: space-evenly;
}


.logo__cont{
    height: 100px;
    width: 100px;
}

.cont__subt{
    color: white;
}

.about__cont{
    padding: 50px;
}


.form__cont{
    background-color: black;
    box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef, 0 0 35px #0ef;
}

.cont__logo{
    animation: rotate1 3s linear infinite;
}

.submit__form{
    color: antiquewhite;
}

.about1{
    display: flex;
    justify-content: space-evenly;
}

.icon__contact{
    min-width: 20%;
}

.about__icon__contact{
    padding: 10px;
}

.area{
    color: wheat;
}