/* .sec1__container{ */
    /* background: var(--first-gradient); */
    /* box-shadow: var(--shadow); */
    /* border-radius: 15px; */
    /* margin-top: 35px; */
    /* border-radius: 20px; */
/* } */

.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 50px;
    padding-bottom: 2%;
}

.sec-1__first{
    /* background-color: green; */
    max-width: 50%;
}

.sec-1__2nd{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__heading{
    margin-bottom: 3px;
    text-align: center;
    padding-block: 30px;
}

.sec-1__first h2{
    font-size: var(--h3-font-size);
    line-height: 1.2em;
} 


.icon-content :first-child{
    margin-top: 5px;
}

.font-jost {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2596be;
}

.icon{
    margin-top: 5px;
    margin-right: 10px;
    font-size: 50px;
    place-items: center;
    min-width: 20%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    color: #000879;
    background-color: rgb(163, 180, 181);
    margin: 30px;
}

.icon-content{
    display: flex;
    justify-content:space-evenly;
    min-width: 100%;
    
}

.icon-content h3{
    color: #000879;
}

.about{
    margin-top: 5px;
    margin-left: -18px;
    line-height: 1.2em;
}


/*2nd sec*/
.img-sec1{
    height: 95%;
    display: flex;
    justify-content: center;
}
.img-sec1 img{
    border: 3px solid rgb(27, 73, 73);
    border-radius: 20px;
    width: 90%;
    height: 95%;
    box-shadow: 5px 10px 25px 5px blue;
}


.sec1__sub{
    text-align: center;
    line-height: 1.4em;
}

@media screen and (max-width: 990px) {
    .sec-1{
        display: flex;
        flex-direction: column;
    }
    .sec-1__first{
        max-width: 100%;
    }

    .img-overlay-list{
        left: 30px;
        bottom: 30px;
    }
    .img-sec1{
        align-items: center;
    }

}