.blog{
    padding-block: 50px;
}

.img__cont{
    width: 300px;
    height: 300px;
    align-self: center;
}


.blog__cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}

.blog__head{
    font-size: var(--h2-font-size);
}

.card{
    padding-bottom: 15px;
    border-radius: 20px;
}

.card p{
    text-align: center;
}

.card h3{
    padding: 20px;
}

.blog__img{
    padding: 30px;
    height: 100%;
    width: 100%;
    align-self: center;
    border-radius: 80px;
}

.blog__img{
    width: 100%;
}


.main__link{
    text-decoration: none;
    color: antiquewhite;
    height: 50px;
    width: 120px;
    align-self: center;
    background-color: rgb(59, 16, 16);
    height: 40px;
    border-radius: 50px;
}

@media screen and (max-width:991px) {
    .blog__cont{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
}
@media screen and (max-width:400px) {
    .img__cont{
        width: 250px;
        height: 250px;
    }
}