.footer1{
    background-color: black;
}

.footeer1__container{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 50px;
    padding-bottom: 80px;
}


.footerfirst1,
.footerfirst2{
    color: aliceblue;
    text-align: center;
}

.footerfirst1{
    margin-top: 20px;
}


.footerfirst2{
    margin-top: 50px;
    font-size: var(--small-font-size);
}

.ic{
    font-size: 25px;
}

.footerfirst1 h1{
    font-size: var(--h2-font-size);
}

.para{
    text-align: left;
    color: grey;
    font-size: var(--smaller-font-size);
}

.fourth__footer .footerfirst2{
    
    display: flex;
    justify-content: space-between;
}

.third__footer .footerfirst2 .section__subtitle a{
    display: grid;
    text-align: left;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: var(--tiny-font-size);
}

@media screen and (max-width:768px){
    .footeer1__container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:478px){
    .footeer1__container{
        grid-template-columns: repeat(1,1fr);
    }
    .fourth__footer .footerfirst2{
        justify-content: space-around;
    }
}