.background-video {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Set the z-index lower than the overlay */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.537); 
  z-index: 1; 
}

.home__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1; /* Ensure content overlay is above the video */
}

.home__container h1 {
  color: var(--title-color-alt);
  font-size: var(--h1-font-size);
}

.home__container p {
  color: var(--title-color-alt);
  font-size: var(--large-font-size);
}

.home__btn{
  display: flex;
  justify-content: center;
}

.home__btn .btn{
  margin-top: 10%;
  color: aliceblue;
  box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef;
}

.home__btn .btn:hover{
  box-shadow: 0 0 10px cyan;
}