.product{
    padding-block: 50px;
}

.product__content{
    padding-block: 40px;
    display: flex;
    justify-content: space-around;
}

.product__cont{
    box-shadow: var(--shadow);
}

.img__pro{
    padding-block: 40px;
    max-width: 35%;
}


.pro__text{
    padding-top: 30px;
}

.pro__head{
    font-weight: 800;
    font-size: 50px;
}