

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .footer__copyright:nth-child(2) {
        justify-self: start;
    }
}

@media screen and (max-width: 992px) {

    :root{
        --h2-font-size: 24px;
        --h3-font-size: 23px;
        --h4-font-size: 21px;
        --h5-font-size: 20px;
        --largest-font-size: 19px;
        --larger-font-size: 18px;
        --large-font-size: 16px;
        --normal-font-size: 15px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
        --tiny-font-size: 12px;
    }

    .container {
        max-width: 740px;
    }

    .footer__container{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 12px;
    }

    .footer__copyright:nth-child(2),
    .footer__copyright:last-child
    {
        justify-self: center;
    }
}

@media screen and (max-width: 768px){
    
    .container{
        max-width: 540px;
    }

    .contact__container
    {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:576px){
    /* take blur*/

    .contact .bg__title{
        font-size: 85px;
    }
}

/* @media screen and (max-width:350px){
    .nav__data{
        padding: 80px 0 0 90px;
    }

    .header__deco{
        left: 40px;
    }

    .home__img-wrapper{
        margin-top: 80px;
    }

    .home__data{
        transform: scale(0.5);
    }

    .home__data-one{
        bottom: 18%;
        left: -18%;
    }

    .home__data-two{
        bottom: 0;
        left: -12%;
    }

    .card-one,
    .card-two{
        padding: 24px;
    }

    .skills__titles,
    .skills__desc
    {
        padding-inline: 16px;
    }

    .portfolio__img{
        height: 180px;
    }

    .resume__header{
        padding: 24px 18px;
    }

    .resume__content{
        padding-inline: 18px 20px;
    }

    
} */