.slide__title{
  /* margin-left: 40%; */
  font-size: var(--h3-font-size);
  font-weight: 800;
  
}

.slide__title span{
  color: var(--primary-color);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
}

.slide{
  
    min-height: 100px;
    margin-top: 50px;
}

.slick-slide {
    margin-right: 20px; 
  }
  
  .slick-slide:last-child {
    margin-right: 0;
  }
  .slick-dots {
    display: none; 
  }
  .slick-dots li button {
    display: none;
  }
  @media screen and (min-width: 768px){
    .items img{
        height: 80px;
    }
  }